<div class="text-center">
    <h1 class="display-4">Through the Rails</h1>
    <p class="h4"> Vse informacije, glede spletnega ogrodja Ruby on Rails  </p>
    <p class="h5"> Naročite se na naš portal in dobite najbolj sveže novice! </p>
    <!--Premakno videja, da sta side by side-->
    <div style="float:left;padding:12px;" class="VideoDiv">
        <iframe src="https://www.youtube.com/embed/3D9d0wmwHVQ"
        width="520" height="345">
        </iframe>
    </div>
    <div style="float:left;padding:12px;" class="VideoDiv">
        <iframe src="https://www.youtube.com/embed/Dji9ALCgfpM"
        width="520" height="345">
        </iframe>
    </div>
    <div style="clear:both;"></div>
</div>


