<div class="text-center">
    <h1 class="display-4"> Through the rails </h1>
    <p class="h4"> Vse informacije, glede spletnega ogrodja Ruby on Rails  </p>
    <p class="h5"> Naročite se na naš portal in dobite najnovejše novice </p>
    <div class="VideoDiv">
        <iframe src="https://www.youtube.com/embed/3D9d0wmwHVQ"
        width="520" height="345">
        </iframe>
    </div>
    <div class="VideoDiv">
        <iframe src="https://www.youtube.com/embed/Dji9ALCgfpM"
        width="520" height="345">
        </iframe>
    </div>
</div>


