
<div class="text-center">
    <h1 class="display-4">Najbolj znane Strani, ki jih poganja <b>RubyOnRails</b></h1>
    <p><b>•	GitHub</b> (Spletna stran, ki omogoča shranjevanje repozitorijev sistema git),
Ponuja distribuirano upravljanje z izvorno kodo (SCM) z Git ter nekatere dodatne storitve. V nasprotju z Git-om, ki je ukazno orodje, ponuja GitHub spletni grafični vmesnik. Zagotavlja tudi kontrolo dostopa in številne storitve za kolaborativni razvoj, npr. sledenje napakam, zahteve za lastnosti, upravljanje z nalogami in informacije za vsak projekt. GitHub je bil ustvarjen 8 februarja leta 2008. Do leta 2019 je GitHub ponujal brezplačno in plačjivo verzijo. Z razliko v tem, da si z plačljivo verzijo lahko imel privatne repozitorije. Sedaj imajo lahko privatne repozitorije vsi uporabniki. Januarja leta 2020 bi naj imel 40 miljonov uporabnikov in kar 100 miljonov repozitorijev.
</p>
    <p><b>•	GitLab</b> (Še drug ponudnik shranjevanje repozitorijev sistema git),
GitLab in GitHub sta si v osnovi kar podobna, obadva uporabljata git. Vendar pa so vseeno prisotne razlike. Z GitLab lahko nastavite in spremenite dovoljenja ljudi glede na njihovo vlogo. V GitHubu lahko nastavite samo dovoljenje za branje in pisanje določene osebe. GitLab ima vgrajen CI-Intergration/Delivery, ki skrbi zato, da je vaš projekt vedno posodobjen tako, da ni potrebe po pull requestu.
</p>
    <p><b>•	Code Academy</b> (Spletno mesto za učenje programiranja),
Je spletna interaktivna platforma, ki ponuja brezplačno učenje kar 12 programskih jezikov. Spletno mesto ponuja tudi plačljivo verzijo, ki ponuja nekaj dodatnih stvari kot so kvizi in prilagojeni programi učenja. Ustanova sta ga leta 2011 Zach Sims in Ryan Bubinski.
</p>
    <p><b>•	Hulu</b> (Storitev pretočnega videa – Video streaming service),
Je ameriška storitev pretočnega video, ki je last prodjetja Walt Disney. Ustanovljeno je bila leta 2007. Kot večinoma drugih podobnih storitev ponuja 30 dni brezplačnega gledanja. Mesečne cene pa se gibajo vse od 5 do 55 dolarjev.
</p>
    <p><b>•	Twitch</b> (Spletno mesto za gledanje pretočnega videa oz. streaming service),
Je spletno mesto za gledanje pretočnega videa, ki jo lasti Twitch interactive. Svetu je bil predstavljen jenija leta 2011. Samo podjetje je podružnica Amazona. V enem tednu je na twitchu približno 2.5 miljona gledalcev.
</p>
    <p><b>•	Urban Dictionary</b> (Slovar nove generacije),
Je množični spletni slovar za sleng besede in besedne zveze, ki deluje pod geslom "Določite svoj svet". Spletno mesto je leta 1999 ustanovil Aaron Peckham. Prvotno je bil Urban Dictionary mišljen kot slovar slenga, kulturnih besed in besednih zvez , ki jih običajno ne najdemo v standardnih slovarjih, zdaj pa se uporablja za določanje katere koli besede, dogodka ali besedne zveze. Od leta 2014 je imel slovar več kot sedem milijonov definicij, medtem ko je bilo dnevno dodanih približno 2000 novih vnosov. Mnoge definicije pa so zgolj šale ali žaljive izjave.
</p>
    <p><b>•	Airbnb</b> (Spletno mesto, kjer si lahko rezerviramo stanovanje za počitnice),
Je spletni trg za ponujanje in organiziranje počitniških stanovanj. Podjetje nima v lasti nobene nepremičnine. Deluje kot posrednik in pri vsaki rezervacija prejema provizije. Samo podjetje ima sedež v San Franciscu. Ustanovljeno je bilo leta 2008. Skoraj ista stvar kot hrvaški boooking.
</p>
    <p><b>•	Ask.fm</b> (Spletno mesto, kjer lahko nekdo nekoga sprašuje vprašanja)
Je globalno spletno mesto socialnega omrežja, kjer uporabniki ustvarijo profile in si lahko med seboj postavljajo vprašanja. Nekoč je to bila oblika anonimnih socialnih medijev, ki je spodbujala, da bi bila vprašanja anonimna. Spletno mesto je bilo ustanovljeno leta 2010 v Rigi v Latviji.
</p>
    <p><b>•	Fiverr</b> (Kjer lahko kot oseba prodajamo svoje servise),
Je izraelska spletna tržnica za samostojne storitve. Podjetje je bilo ustanovljeno leta 2010 in ima sedež v Tel Avivu v Izraelu. Ponuja platformo za samostojnega podjetnika, ki ponujajo storitve strankam po vsem svetu. Leta 2010 sta ga ustvanovila Micha Kaufman in Shai Wininger. Na spletni strani lahko najdete ponudbe za programiranje, grafični design, prevajanje, ureranje videa in veliko drugih stvari.
</p>
    <p><b>•	Twitter</b> (Socialno omrežje),
Twitter je spletno družbeno omrežje, ki svojim uporabnikom omogoča, da med seboj izmenjujejo kratka sporočila. Takšnim sporočilom rečejo »tweets«. Ustanovitelj omrežja je Jack Dorsey. Z oblikovanjem Twittra je končal marca 2006, zagnal pa ga je julija istega leta. Podjetje si je pridobilo svetovni sloves, saj je leta 2012 doseglo že 500 milijonov dejavnih uporabnikov, ki dnevno ustvarijo preko 340 milijonov tweetov in 1,6 milijarde iskanj. Sedež podjetja je v San Franciscu.
</p>
  <p><b>•	Sound Cloud</b> (Zbirka uporabniških pesmi),
Je evropska spletna platforma za distribucijo zvoka in spletno mesto za izmenjavo glasbe s sedežem v Berlinu, Nemčija, ki svojim uporabnikom omogoča nalaganje, promocijo in skupno rabo pesmi ali zvoka. SoundCloud, ki sta ga leta 2007 ustvarila Aleksander Ljung in Eric Wahlforss, je postal ena največjih storitev pretoka glasbe na trgu in je dosegla več kot 175 milijonov mesečnih uporabnikov po vsem svetu. SoundCloud ponuja brezplačno in plačano članstvo na platformi, ki je na voljo za namizje ali mobilno napravo. SoundCloud je na glasbeno industrijo vplival z uspehom številnih izvajalcev, ki so se pojavili iz storitve izmenjave glasbe.
</p>
  <p><b>•	KickStarter</b> (Kjer lahko zbiraš sredstva za svojo podjetniško idejo),
Je ameriška korporacija za javno korist s sedežem v Brooklynu v New Yorku , ki vzdržuje globalno platformo za množično financiranje, osredotočeno na ustvarjalnost. Navedeno poslanstvo podjetja je "pomagati oživiti ustvarjalne projekte". Kickstarter je od decembra 2019 dobil več kot 4,6 milijarde ameriških dolarjev obljub od 17,2 milijona podpornikov za financiranje 445.000 projektov, kot so filmi, glasba, odrske predstave, stripi, novinarstvo, video igre, tehnologija, založništvo in prehrana.
</p>
<h2>Ostale</h2>
  <p>Groupon (Ameriška spletna stran ki ponuja kupone),</p>
  <p>Goodreads (Največja zbirka spletnih knjig),</p>
  <p>SliderShare (Spletni mesto za učenje, na katerega lahko naložiš svojo predstavitev),</p>
  <p>Dribbble (Spletno mesto na kateretem lahko ustvarjalci delijo svoje delo),</p>
  <p>Shopify (Omogoča uporabniku, da lahko naredu varno spletno trgovino),</p>
  <p>CouchSurfing (Alternativa AirBnb in Booking),</p>
  <p>Exercism.io (Drugi ponudnik učenja programiranja),</p>
  <p>TreeHouse (Še en ponudnik učenje kode),</p>
  <p>Indiegogo (Podobno kot Kickstarter, vendar za razliko od Kickstarter-ja rabimo imeti izdelanega prototipa, da lahko zbiramo sredstva),</p>
  <p>Jobster (Spletno mesto na katerem si lahko najdem službo),</p>
  <p>MyFitnessPal (Je spletno mesto, ki ti pomagat pri sledenju prehranjevanja),</p>
  <p>500px (Največjo socialno omrežje za fotografe),</p>
  <p>In še veliko ostalih spletnih strani…</p>
</div>
