<h1>Uredi podatke naročnika</h1>

<%= render 'form', subscriber: @subscriber %>

<%= link_to 'Prikaži', @subscriber, :class => "btn btn-outline-success" %> |
<%= link_to 'Nazaj', subscribers_path, :class => "btn btn-outline-info" %>
